/* *****************************************************************************************
********************************* CUSTOMER THEME VARIABLES *********************************
********************************************************************************************
******************************* -- MAKE YOUR CHANGES HERE -- **************************** */
/* CORE COLOURS ======================================================================== */
/* Main/Accent Colours */
/* Bootstrap Core Colours */
/* Other Core Colours */
/* Control Group Branding */
/* ===================================================================================== */
/* BASE UI ============================================================================= */
/* TYPOGRAPHY -------------------------------- */
/* Core */
/* Text Links */
/* Headings */
/* ------------------------------------------- */
/* RESPONSIVE BREAKPOINTS -------------------- */
/* ------------------------------------------- */
/* HEADER ------------------------------------ */
/* Header Core */
/* Header Links & Notification */
/* Header Logo */
/* Header Search */
/* Header Mobile Expanded Menu */
/* ------------------------------------------- */
/* FOOTER ------------------------------------ */
/* Footer Core */
/* Footer Links */
/* ------------------------------------------- */
/* LEFT NAV PANEL ---------------------------- */
/* Left Panel Core */
/* Left Panel Me/My People Tabs */
/* Left Panel Nav Menu Links */
/* Left Panel Dashboard Widget Config */
/* ------------------------------------------- */
/* MISC -------------------------------------- */
/* Loading Feature*/
/* Employee Profile Image */
/* Form History Status Colours */
/* ------------------------------------------- */
/* ===================================================================================== */
/* BOOTSTRAP UI ======================================================================== */
/* BUTTONS ----------------------------------- */
/* ------------------------------------------- */
/* FORM ELEMENTS ----------------------------- */
/* Form Label */
/* Inputs, Textareas and Select dropdowns */
/* Radios and Checkboxes */
/* ------------------------------------------- */
/* PAGINATION -------------------------------- */
/* ------------------------------------------- */
/* BREADCRUMBS ------------------------------- */
/* ------------------------------------------- */
/* ===================================================================================== */
/* LOGIN PAGE ========================================================================== */
/* BASE LOGIN COLOURS ------------------------ */
/* ------------------------------------------- */
/* CORE LOGIN STYLES ------------------------- */
/* BG Image */
/* Login Content BG */
/* Login Panel */
/* ------------------------------------------- */
/* NEWS FEED --------------------------------- */
/* ------------------------------------------- */
/* EMPLOYEE LOGIN SEARCH --------------------- */
/* Search Header */
/* Person Item */
/* Pagination */
/* ------------------------------------------- */
/* ===================================================================================== */
/* DASHBOARD HOME ====================================================================== */
/* HOME BG IMAGE ----------------------------- */
/* ------------------------------------------- */
/* BASE WIDGET COLOURS ----------------------- */
/* Core */
/* Misc */
/* Widget Primary Buttons */
/* Widget Tabs */
/* Widget Accordion */
/* ------------------------------------------- */
/* WIDGETS ----------------------------------- */
/* Holiday / Leave Management Widget */
/* Pay Widget */
/* Absence Widget */
/* Birthday Widget */
/* ------------------------------------------- */
/** MY FORMS ------------------------------------*/
/* Image colour overlay */
/* --------------------------------------------------*/
/* ===================================================================================== */
body {
  position: relative;
}
.support-container {
  padding-top: 60px;
  /* ===================================================================================== */
  /* ===================================================================================== */
  /* ===================================================================================== */
  /* ===================================================================================== */
  /* BRANDING SECTION ==================================================================== */
  /* ------------------------------------------- */
  /* LESS Tooltip and Code Examples */
  /* Pagination */
  /* Loading */
  /* Buttons */
  /* Typography */
  /* NavTabs */
  /* ------------------------------------------- */
  /* COLOUR BOXES ------------------------------ */
  /* ------------------------------------------- */
  /* EXAMPLE BLOCK ----------------------------- */
  /* ------------------------------------------- */
  /* ICON BOXES -------------------------------- */
  /* ------------------------------------------- */
  /* SHADOWS ----------------------------------- */
  /* ------------------------------------------- */
  /* ANGULAR MULTI SELECT ---------------------- */
  /* ------------------------------------------- */
  /* DATEPICKER -------------------------------- */
  /* ------------------------------------------- */
  /* TOASTR EXAMPLE ---------------------------- */
  /* ------------------------------------------- */
  /* MODAL ------------------------------------- */
  /* ------------------------------------------- */
  /* STYLING IFRAME ---------------------------- */
  /* ------------------------------------------- */
  /* ACCESSIBILITY ----------------------------- */
  /* ------------------------------------------- */
  /* ===================================================================================== */
}
.support-container > header .navbar {
  background: #323D43;
  border: none;
}
.support-container > header .navbar .navbar-header .navbar-brand {
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
  text-align: center;
}
.support-container > header .navbar .navbar-header .navbar-brand:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.support-container > header .navbar .navbar-nav > li.active > a {
  background: #1d709e;
}
@media (min-width: 768px) {
  .support-container > header .navbar .container,
  .support-container > header .navbar .container-fluid {
    padding: 0;
  }
  .support-container > header .navbar .navbar-header {
    width: 25%;
  }
  .support-container > header .navbar .navbar-header .navbar-brand {
    margin-left: 0;
    display: block;
    float: none;
  }
  .support-container > header .navbar .navbar-right {
    margin-right: 0;
  }
}
@media (min-width: 1300px) {
  .support-container > header .navbar .navbar-header {
    width: 16.66666667%;
  }
}
.support-container > .support-section {
  position: relative;
}
@media (min-width: 768px) {
  .support-container > .support-section {
    background: #FFF;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFF), color-stop(50%, #EEE));
    background: linear-gradient(to right, #FFF 50%, #EEE 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#EEE', GradientType=1);
  }
}
.support-container > .support-section .support-leftnav {
  padding: 0;
  background: #FFF;
}
.support-container > .support-section .support-leftnav .nav.affix {
  max-height: calc(100% - 60px);
  top: 60px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: auto;
  -ms-touch-action: auto;
  touch-action: auto;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button {
  width: 12px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:active {
  background-color: rgba(0, 0, 0, 0.4);
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:horizontal:decrement {
  border-radius: 4px 0 0 4px;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:horizontal:increment {
  border-radius: 0 4px 4px 0;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:vertical:decrement {
  border-radius: 4px 4px 0 0;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:vertical:increment {
  border-radius: 0 0 4px 4px;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url('../images/webkitScrollBtn_darkLeft.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('../images/webkitScrollBtn_darkRight.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-image: url('../images/webkitScrollBtn_lightLeft.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:horizontal:increment:hover {
  background-image: url('../images/webkitScrollBtn_lightRight.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('../images/webkitScrollBtn_darkUp.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:vertical:increment {
  background-image: url('../images/webkitScrollBtn_darkDown.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:vertical:decrement:hover {
  background-image: url('../images/webkitScrollBtn_lightUp.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-button:vertical:increment:hover {
  background-image: url('../images/webkitScrollBtn_lightDown.png');
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border: 0 none #FFF;
  border-radius: 4px;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0 none #FFF;
  border-radius: 0;
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.15);
}
body:not(.accessibilityMode) .support-container > .support-section .support-leftnav .nav.affix::-webkit-scrollbar-corner {
  background: transparent;
}
.support-container > .support-section .support-leftnav .nav > li:before {
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #EEE;
  content: '';
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.support-container > .support-section .support-leftnav .nav > li > a {
  padding: 10px 15px;
  color: #666;
}
.support-container > .support-section .support-leftnav .nav > li > a:before {
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #258FC9;
  content: '';
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.support-container > .support-section .support-leftnav .nav > li > a:hover,
.support-container > .support-section .support-leftnav .nav > li > a:focus {
  background: rgba(238, 238, 238, 0.6);
}
.support-container > .support-section .support-leftnav .nav > li.active > a {
  background: #EEE;
  color: #258FC9;
}
.support-container > .support-section .support-leftnav .nav > li.active > a:before {
  width: 5px;
}
.support-container > .support-section .support-leftnav > .nav > li {
  border-top: 1px solid #EEE;
}
.support-container > .support-section .support-leftnav > .nav > li:first-child {
  border-top: none;
}
.support-container > .support-section .support-leftnav > .nav > li > .nav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.6, 0, 1);
  transition: all 0.4s cubic-bezier(0, 0.6, 0, 1);
}
.support-container > .support-section .support-leftnav > .nav > li > .nav > li > a {
  padding: 7.5px 15px 7.5px 30px;
  font-size: 90%;
}
.support-container > .support-section .support-leftnav > .nav > li > .nav > li > a:before {
  background: #44a7dd;
}
.support-container > .support-section .support-leftnav > .nav > li.active,
.no-touch .support-container > .support-section .support-leftnav > .nav > li:hover {
  background: rgba(238, 238, 238, 0.3);
}
.support-container > .support-section .support-leftnav > .nav > li.active > .nav,
.no-touch .support-container > .support-section .support-leftnav > .nav > li:hover > .nav {
  max-height: 700px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 0.3);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 0.3);
}
.support-container > .support-section .support-leftnav > .nav > li.active > .nav > li .active > a,
.no-touch .support-container > .support-section .support-leftnav > .nav > li:hover > .nav > li .active > a {
  background: rgba(238, 238, 238, 0.6);
}
.support-container > .support-section .support-leftnav > .nav > li.active > a {
  font-weight: bold;
}
.support-container > .support-section .support-leftnav > .nav > li.active > .nav > li:before {
  width: 5px;
}
@media (max-width: 767px) {
  .support-container > .support-section .support-leftnav .nav.affix {
    width: auto !important;
    position: static;
  }
  .support-container > .support-section .support-leftnav .nav > li > .nav {
    max-height: inherit;
  }
}
.support-container > .support-section .support-content {
  padding: 30px;
  background: #EEE;
}
@media (max-width: 991px) {
  .support-container > .support-section .support-content {
    padding: 15px;
  }
}
.support-container > .support-section .support-contentPanel {
  margin-bottom: 30px;
}
.support-container > .support-section .support-contentPanel:last-child {
  margin-bottom: 0;
}
.support-container > .support-section .support-contentPanel-header {
  margin-bottom: 15px;
  font-size: 2.5em;
  font-weight: 300;
}
.support-container > .support-section .support-contentPanel-header > .label {
  font-size: 37.5%;
  vertical-align: super;
}
@media (max-width: 767px) {
  .support-container > .support-section .support-contentPanel-header {
    font-size: 1.75em;
  }
}
.support-container > .support-section .support-contentPanel-body {
  padding: 15px;
  background: #fff;
}
@media (min-width: 992px) {
  .support-container > .support-section .support-contentPanel-body {
    padding: 20px;
  }
}
@media (min-width: 1300px) {
  .support-container > .support-section .support-contentPanel-body {
    padding: 25px;
  }
}
.support-container > .support-section .support-contentPanel-body + .support-contentPanel-body {
  margin-top: 2px;
}
.support-container > .support-section .support-contentPanel-bodyHeader {
  margin: 0 0 15px;
  font-size: 1.85em;
  font-weight: 300;
}
.support-container > .jumbotron {
  margin: 0;
  text-align: center;
  color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#258FC9), to(#1d709e));
  background-image: linear-gradient(to bottom, #258FC9 0%, #1d709e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff258fc9', endColorstr='#ff1d709e', GradientType=0);
}
.support-container > .jumbotron span {
  display: inline-block;
}
@media (min-width: 992px) {
  .support-container > .jumbotron {
    padding: 5vw 0;
  }
  .support-container > .jumbotron h1,
  .support-container > .jumbotron .h1 {
    font-size: 3em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .support-container > .jumbotron {
    padding: 5vw 0;
  }
  .support-container > .jumbotron h1,
  .support-container > .jumbotron .h1 {
    font-size: 4vw;
  }
}
.support-container .well-example {
  background-color: #EEE;
  -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .support-container .well-example {
    max-height: 75vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-user-drag: auto;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button {
    width: 12px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:horizontal:decrement {
    border-radius: 4px 0 0 4px;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:horizontal:increment {
    border-radius: 0 4px 4px 0;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:vertical:decrement {
    border-radius: 4px 4px 0 0;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:vertical:increment {
    border-radius: 0 0 4px 4px;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('../images/webkitScrollBtn_darkLeft.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('../images/webkitScrollBtn_darkRight.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:horizontal:decrement:hover {
    background-image: url('../images/webkitScrollBtn_lightLeft.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:horizontal:increment:hover {
    background-image: url('../images/webkitScrollBtn_lightRight.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../images/webkitScrollBtn_darkUp.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../images/webkitScrollBtn_darkDown.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:vertical:decrement:hover {
    background-image: url('../images/webkitScrollBtn_lightUp.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-button:vertical:increment:hover {
    background-image: url('../images/webkitScrollBtn_lightDown.png');
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 0 none #FFF;
    border-radius: 4px;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border: 0 none #FFF;
    border-radius: 0;
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  body:not(.accessibilityMode) .support-container .well-example::-webkit-scrollbar-corner {
    background: transparent;
  }
}
.support-container .bs-component {
  position: relative;
}
.support-container .bs-component #source-button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.support-container .bs-component #source-button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.support-container code {
  display: inline-block;
}
.support-container .styling-controlGroupAlert {
  display: none;
}
.support-container code.less {
  background-color: #f0ddee;
  color: #913D88;
}
.support-container [data-lessTooltip] {
  cursor: help;
}
.support-container span[data-lessTooltip] {
  display: inline-block;
}
.support-container .tooltip-less.top .tooltip-arrow {
  border-top-color: #913D88;
}
.support-container .tooltip-less.bottom .tooltip-arrow {
  border-bottom-color: #913D88;
}
.support-container .tooltip-less.left .tooltip-arrow {
  border-left-color: #913D88;
}
.support-container .tooltip-less.right .tooltip-arrow {
  border-right-color: #913D88;
}
.support-container .tooltip-less .tooltip-inner {
  max-width: inherit;
  position: relative;
  background-color: #913D88;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
}
.support-container .tooltip-less .tooltip-inner:before {
  padding: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: #6d2e66;
  font-family: 'Lato', 'Open Sans', 'Segoe UI', 'Gill Sans', sans-serif;
  font-size: 85%;
  content: 'LESS VARIABLE: ';
}
.support-container .bs-component > .pagination {
  margin: 0;
}
.support-container .well-example .siteLoad {
  margin: 0 auto;
  position: static;
}
.support-container .styling-buttonsWrapper .btn {
  margin-bottom: 2px;
}
.support-container .styling-fontName:before {
  content: "'Lato', 'Open Sans', 'Segoe UI', 'Gill Sans', sans-serif";
}
.support-container .styling-fontSize:before {
  content: '14px';
}
.support-container .styling-HeadingColour:before {
  content: '#258FC9';
}
.support-container .well-example .scrollShadows:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(rgba(238, 238, 238, 0)));
  background-image: linear-gradient(to right, #eeeeee 0%, rgba(238, 238, 238, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#00eeeeee', GradientType=1);
}
.support-container .well-example .scrollShadows:after {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 238, 238, 0)), to(#eeeeee));
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eeeeee', endColorstr='#ffeeeeee', GradientType=1);
}
.support-container .styling-colourBox {
  margin-bottom: 20px;
  position: relative;
  background: #258FC9;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.support-container .styling-colourBox:before {
  padding-top: 100%;
  display: block;
  content: '';
}
.support-container .styling-colourBox > span {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 7px;
  font-size: 90%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .support-container .styling-colourBox > span {
    bottom: 10px;
    left: 10px;
    font-size: 100%;
  }
}
@media (min-width: 1300px) {
  .support-container .styling-colourBox > span {
    bottom: 10px;
    left: 10px;
    font-size: 100%;
  }
}
@media (max-width: 767px) {
  .support-container .styling-colourBox > span {
    display: none;
  }
}
.support-container .styling-colourBox-main {
  background-color: #323D43;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-mainLight {
  background-color: #425159;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-mainDark {
  background-color: #22292d;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-accent {
  background-color: #258FC9;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-accentLight {
  background-color: #44a7dd;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-accentDark {
  background-color: #1d709e;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-BGSite {
  background-color: #EEE;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
}
.support-container .styling-colourBox-BGContent {
  background-color: #FFF;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
}
.support-container .styling-colourBox-textColour {
  background-color: #666;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-success {
  background-color: #03A678;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-warning {
  background-color: #E87E04;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-danger {
  background-color: #D91E18;
  color: #000;
  text-shadow: 0 1px 2px #FFF;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-colourBox-info {
  background-color: #323D43;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.support-container .styling-exampleList {
  margin: 0 0 30px;
  padding: 15px;
  list-style: none;
  border: 1px solid #e6e6e6;
}
.support-container .styling-exampleList:last-child {
  margin-bottom: 0;
}
.support-container .styling-exampleList > li {
  width: 100%;
  margin: 20px 0 0;
  padding: 0;
  display: table;
}
.support-container .styling-exampleList > li:first-child {
  margin: 0;
}
.support-container .styling-exampleList > li > span {
  width: 30%;
  display: table-cell;
  vertical-align: top;
  color: #999999;
  font-size: 85%;
}
.support-container .styling-exampleList > li > div {
  padding-left: 15px;
  display: table-cell;
}
.support-container .styling-exampleList > li > div > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 1300px) {
  .support-container .styling-exampleList > li > span {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .support-container .styling-exampleList {
    max-height: 75vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-user-drag: auto;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button {
    width: 12px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:horizontal:decrement {
    border-radius: 4px 0 0 4px;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:horizontal:increment {
    border-radius: 0 4px 4px 0;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:vertical:decrement {
    border-radius: 4px 4px 0 0;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:vertical:increment {
    border-radius: 0 0 4px 4px;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('../images/webkitScrollBtn_darkLeft.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('../images/webkitScrollBtn_darkRight.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:horizontal:decrement:hover {
    background-image: url('../images/webkitScrollBtn_lightLeft.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:horizontal:increment:hover {
    background-image: url('../images/webkitScrollBtn_lightRight.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../images/webkitScrollBtn_darkUp.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../images/webkitScrollBtn_darkDown.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:vertical:decrement:hover {
    background-image: url('../images/webkitScrollBtn_lightUp.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-button:vertical:increment:hover {
    background-image: url('../images/webkitScrollBtn_lightDown.png');
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 0 none #FFF;
    border-radius: 4px;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border: 0 none #FFF;
    border-radius: 0;
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  body:not(.accessibilityMode) .support-container .styling-exampleList::-webkit-scrollbar-corner {
    background: transparent;
  }
  .support-container .styling-exampleList > li,
  .support-container .styling-exampleList > li > span,
  .support-container .styling-exampleList > li > div {
    width: auto;
    margin-bottom: 5px;
    padding-left: 0;
    display: block;
  }
}
.support-container .styling-iconBox {
  margin: -1px;
  padding: 0;
  list-style: none;
}
.support-container .styling-iconBox:before,
.support-container .styling-iconBox:after {
  content: " ";
  display: table;
}
.support-container .styling-iconBox:after {
  clear: both;
}
.support-container .styling-iconBox > li {
  width: 16.66666667%;
  min-height: 100px;
  padding: 10px 2.5px;
  float: left;
  border: 1px solid #FFF;
  background: #EEE;
  text-align: center;
}
.support-container .styling-iconBox > li > .fa,
.support-container .styling-iconBox > li .glyphicon {
  font-size: 2.5em;
}
.support-container .styling-iconBox > li > small {
  display: block;
  font-size: 75%;
}
.support-container .styling-iconBox > li > code {
  font-size: 75%;
}
.flexbox .support-container .styling-iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexbox .support-container .styling-iconBox > li {
  min-height: inherit;
}
@media (min-width:1400px) {
  .support-container .styling-iconBox > li {
    width: 12.5%;
  }
}
@media (min-width: 1300px) {
  .support-container .styling-iconBox > li {
    width: 14.28571429%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .support-container .styling-iconBox > li {
    width: 20%;
  }
}
@media (max-width: 767px) {
  .support-container .styling-iconBox {
    max-height: 75vh;
    margin: 0;
    border: 1px solid #e6e6e6;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-user-drag: auto;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button {
    width: 12px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:horizontal:decrement {
    border-radius: 4px 0 0 4px;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:horizontal:increment {
    border-radius: 0 4px 4px 0;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:vertical:decrement {
    border-radius: 4px 4px 0 0;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:vertical:increment {
    border-radius: 0 0 4px 4px;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('../images/webkitScrollBtn_darkLeft.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('../images/webkitScrollBtn_darkRight.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:horizontal:decrement:hover {
    background-image: url('../images/webkitScrollBtn_lightLeft.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:horizontal:increment:hover {
    background-image: url('../images/webkitScrollBtn_lightRight.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../images/webkitScrollBtn_darkUp.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../images/webkitScrollBtn_darkDown.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:vertical:decrement:hover {
    background-image: url('../images/webkitScrollBtn_lightUp.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-button:vertical:increment:hover {
    background-image: url('../images/webkitScrollBtn_lightDown.png');
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 0 none #FFF;
    border-radius: 4px;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border: 0 none #FFF;
    border-radius: 0;
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  body:not(.accessibilityMode) .support-container .styling-iconBox::-webkit-scrollbar-corner {
    background: transparent;
  }
  .support-container .styling-iconBox > li {
    width: 33.33333333%;
  }
}
.support-container .styling-shadowBox {
  width: 20%;
  margin-bottom: 20px;
  padding: 0 10px;
  float: left;
}
.support-container .styling-shadowBox > div {
  padding: 10px 0;
  background: #FFF;
  color: #999999;
  font-size: 90%;
  font-style: italic;
}
@media (max-width: 991px) {
  .support-container .styling-shadowBox {
    width: 50%;
  }
}
.support-container .styling-shadowBox-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.support-container .styling-shadowBox-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.support-container .styling-shadowBox-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.support-container .styling-shadowBox-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.support-container .styling-shadowBox-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media (min-width: 768px) {
  .support-container .multiSelect .checkboxLayer {
    display: inline-block !important;
    position: relative;
  }
}
@media (max-width: 767px) {
  .support-container .multiSelect .checkboxLayer {
    width: auto;
    position: relative;
  }
}
.support-container .popover.datepicker {
  display: block;
  position: relative;
  z-index: inherit;
}
@media (max-width: 991px) {
  .support-container .popover.datepicker {
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
  }
  .support-container .popover.datepicker > .dp-dates table > thead + tbody .btn {
    line-height: inherit;
  }
}
.support-container #toast-container {
  margin-bottom: 20px;
  position: static;
}
.support-container #toast-container > div {
  max-width: none;
}
.support-container .bs-component .modal {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .support-container .bs-component .modal-dialog {
    width: 90%;
  }
}
.support-container .styling-iframe {
  max-width: 100%;
  display: inline-block;
  position: relative;
  border: 5px solid #F6F6F6;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: auto;
  -ms-touch-action: auto;
  touch-action: auto;
  /*&:before {
      width:100%; height:100%; display:block; position:absolute; top:0; left:0; content:'';
      .box-shadow(inset 0px 2px 3px fade(#000,30%)); pointer-events:none;
    }*/
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button {
  width: 22.5px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:active {
  background-color: rgba(0, 0, 0, 0.4);
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:horizontal:decrement {
  border-radius: 7.5px 0 0 7.5px;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:horizontal:increment {
  border-radius: 0 7.5px 7.5px 0;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:vertical:decrement {
  border-radius: 7.5px 7.5px 0 0;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:vertical:increment {
  border-radius: 0 0 7.5px 7.5px;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url('../images/webkitScrollBtn_darkLeft.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('../images/webkitScrollBtn_darkRight.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-image: url('../images/webkitScrollBtn_lightLeft.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:horizontal:increment:hover {
  background-image: url('../images/webkitScrollBtn_lightRight.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('../images/webkitScrollBtn_darkUp.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:vertical:increment {
  background-image: url('../images/webkitScrollBtn_darkDown.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:vertical:decrement:hover {
  background-image: url('../images/webkitScrollBtn_lightUp.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-button:vertical:increment:hover {
  background-image: url('../images/webkitScrollBtn_lightDown.png');
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border: 0 none #FFF;
  border-radius: 7.5px;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0 none #FFF;
  border-radius: 0;
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.15);
}
body:not(.accessibilityMode) .support-container .styling-iframe::-webkit-scrollbar-corner {
  background: transparent;
}
.support-container .styling-iframe.size-lg > iframe {
  width: 1300px;
}
.support-container .styling-iframe.size-md > iframe {
  width: 992px;
}
.support-container .styling-iframe.size-sm > iframe {
  width: 768px;
}
.support-container .styling-iframe.size-xs > iframe {
  width: 375px;
  height: 667px;
}
.support-container .styling-iframe.size-fluid {
  width: 100%;
  max-width: auto;
  display: block;
}
.support-container .styling-iframe.size-fluid > iframe {
  width: 100%;
  height: 70vh;
}
.support-container .styling-iframe > iframe {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  display: block;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
@media (min-width: 992px) {
  .support-container #wcag-modal .modal-lg {
    width: 85%;
  }
}

/*# sourceMappingURL=style-guide.css.map */
