**/.**
!.gitignore

bower_components/
node_modules/
/dist/
/css/
/fonts/
/icons/
/MyViewDashboardBranding/css/
/MyViewDashboardBranding/icons/
/MyViewDashboardBranding/images/
/MyViewDashboardBranding/customer/



package-lock.json
