/* ===================================================================================== */
/* NGA FONTS =========================================================================== */
/* LIGHT */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* REGULAR */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.woff2') format('woff2'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
/* BOLD */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'), url('../fonts/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}
/* ===================================================================================== */
/* ===================================================================================== */
/* BASE ================================================================================ */
html {
  height: 100%;
  background: #EEE;
}
body {
  background: inherit;
  overflow-y: scroll;
  font-size: 14px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}
@media (min-width:1400px) {
  body {
    font-size: 16px;
  }
}
/* Site Cloak */
.cloak-css,
.cloak-control-group {
  display: none;
  visibility: hidden;
}
/* Skip To Content */
.skipToContent,
.skipToContent:focus {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* Mobile Scroll To Top */
.scrollToTop {
  display: none;
}
/* ===================================================================================== */
/* LOADERS ============================================================================= */
/* PACE LOADER ------------------------------- */
.pace .pace-progress {
  height: 3px;
  background: #999;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.pace-active .pace-progress {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: width 1s, transform 0.5s 0s ease-out;
  -webkit-transition: width 1s, -webkit-transform 0.5s 0s ease-out;
  transition: width 1s, -webkit-transform 0.5s 0s ease-out;
  transition: width 1s, transform 0.5s 0s ease-out;
  transition: width 1s, transform 0.5s 0s ease-out, -webkit-transform 0.5s 0s ease-out;
}
.pace-inactive {
  display: block;
}
.pace-inactive .pace-progress {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: width 1s, transform 0.6s 0.75s ease-out;
  -webkit-transition: width 1s, -webkit-transform 0.6s 0.75s ease-out;
  transition: width 1s, -webkit-transform 0.6s 0.75s ease-out;
  transition: width 1s, transform 0.6s 0.75s ease-out;
  transition: width 1s, transform 0.6s 0.75s ease-out, -webkit-transform 0.6s 0.75s ease-out;
}
/* ------------------------------------------- */
/* SITE LOADER ------------------------------- */
/* Site Loaders */
.siteLoad,
.cssLoad {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #FFF;
  color: #999;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* CSS Loading Dots */
.cssLoad > .loader {
  margin: 20px 40px 40px;
  position: relative;
  color: #cccccc;
  font-size: 10px;
  text-indent: -9999em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.cssLoad > .loader,
.cssLoad > .loader:before,
.cssLoad > .loader:after {
  width: 20px;
  height: 20px;
  display: block;
  -webkit-animation: loadConnect 1.8s infinite ease-in-out;
  animation: loadConnect 1.8s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 50%;
}
.cssLoad > .loader:before,
.cssLoad > .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.cssLoad > .loader:before {
  left: -3em;
  -webkit-animation-delay: -0.28s;
  animation-delay: -0.28s;
}
.cssLoad > .loader:after {
  left: 3em;
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s;
}
@-webkit-keyframes loadConnect {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 20px 0 -1.3em;
    box-shadow: 0 20px 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 20px 0 0;
    box-shadow: 0 20px 0 0;
  }
}
@keyframes loadConnect {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 20px 0 -1.3em;
    box-shadow: 0 20px 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 20px 0 0;
    box-shadow: 0 20px 0 0;
  }
}
/* ------------------------------------------- */
/* ===================================================================================== */

/*# sourceMappingURL=style-loading.css.map */
